<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../img/Maradona.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<main>
    
</main>
<body>
    <h4>Enlaces</h4>
    <nav>
        <ul>
            <li> <a href="./index.html">      Indice   </a></li>
            <li> <a href="./formulario.html">      formulario   </a></li>
            <li> <a href="./tabla.html">      Tabla   </a></li>
            <li> <a href="./lista.html">    Listas </a></li>
            <li> <a href="https://www.google.com">      Google   </a></li>
            
        </ul>
    </nav>
    <h4>Navegación</h4>
    <section id="Imagenes">
        <nav>
            <ul>
                <li> <a href="#Fractal">      Fractal nav   </a></li>
                <li> <a href="#Agua">      Agua nav   </a></li>
                <li> <a href="#Madera">    Madera nav </a></li>
                
            </ul>
        </nav>
        <section id="Fractal" style="background-color: pink;">
            
            <h2><u>Nombre:</u> Fractal</h2>
            <p>Una foto la cual utilizo en modelos 3d para efectos especiales</p>
            <img src="../img/5035571.jpg" alt="Fractal" width="500" height="500">
            <li><a href="../img/5035571.jpg">      Abrir foto en otra pantalla   </a></li>
            <a href="../img/5035571.jpg" download="5035571.jpg">Descargar foto como jpg</a>
            <a href="../assets/5035571.pdf" download="5035571.pdf">Descargar foto como PDF</a>
            <a href="mailto:SantiagoGuebara@gmail.com">Enviar mail</a>
            </br>
        </section>
        <section id="Agua" style="background-color: greenyellow;">
            
            <h2><u>Nombre:</u> Agua</h2>
            <p>Una foto la cual utilizo en modelos 3d como textura de agua sin animar cuando se necesita</p>
            <img src="../img/pexels-enginakyurt-1435752.jpg" alt="Agua" width="500" height="500">
            <li> <a href="../img/pexels-enginakyurt-1435752.jpg">      Abrir foto en otra pantalla   </a></li>
            <a href="../img/pexels-enginakyurt-1435752.jpg" download="pexels-enginakyurt-1435752.jpg">Descargar foto como jpg</a>
            <a href="../assets/pexels-enginakyurt-1435752.pdf" download="pexels-enginakyurt-1435752.pdf">Descargar foto como PDF</a>
            <a href="mailto:SantiagoGuebara@gmail.com">Enviar mail</a>
            </br>
        </section>
        <section id="Madera" style="background-color: red;">
            
            <h2><u>Nombre:</u> Madera</h2>
            <p>Una foto la cual utilizo en modelos 3d como textura de madera cuando se necesita</p>
            <img src="../img/photos_2023_7_4_fst_wood-cracked-aged-material.jpg" alt="Madera" width="500" height="500">
            <li> <a href="../img/photos_2023_7_4_fst_wood-cracked-aged-material.jpg">      Abrir foto en otra pantalla   </a></li>
            <a href="../img/photos_2023_7_4_fst_wood-cracked-aged-material.jpg" download="photos_2023_7_4_fst_wood-cracked-aged-material.jpg">Descargar foto como jpg</a>
            <a href="../assets/photos_2023_7_4_fst_wood-cracked-aged-material.pdf" download="photos_2023_7_4_fst_wood-cracked-aged-material.pdf">Descargar foto como PDF</a>
            <a href="mailto:SantiagoGuebara@gmail.com">Enviar mail</a>
            </br>
        </section>
    </section>
    
</body>
</html>