<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../img/Muchacho.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <!--Inicio, Galería, Tabla, Google-->
        <h4>Enlaces</h4>
        <nav>
            <ul>
                <li> <a href="./index.html">      Indice   </a></li>
                <li> <a href="./tabla.html">      Tabla   </a></li>
                <li> <a href="./galeria.html">    Galeria </a></li>
                <li> <a href="./lista.html">    Listas </a></li>
                <li> <a href="https://www.google.com">      Google   </a></li>
            </ul>
        </nav>
    </header>
<!--navegación -->
<main>
    <section id="Formulario">
        <h3>Formulario</h3>
        <form action="https://formspree.io/f/mjkyrqkj" method="post">
            <label for="Nombre">Nombre: </label>
            <input size="30" type="text" name="Nombre" id="Nombre">
            <br><br>
            <label for="Apellido">Apellido: </label>
            <input size="30" type="text" name="Apellido" id="Apellido">
            <br><br>
            <label for="Fecha">Fecha de nacimento: </label>
            <input size="30" type="date" name="fecha" id="fecha">
            <br><br>
            <input type="submit" value="ENVIAR">
            <input type="reset" value="BORRAR">
            <br><br>
            <label for="Genero">Genero: </label>
            <select>
                <option>Otro</option>
                <option>M</option>
                <option>F</option>
            </select>
            <br><br>
            <lable for="Tech">Área a desarrollarse:</lable>
            <br>
            <input type="radio" name="desarrolladores" value="1">App web
            <br>
            <input type="radio" name="desarrolladores" value="2">Análisis de datos
            <br>
            <input type="radio" name="desarrolladores" value="3">Desarrollo de juegos
            <br><br>
            <lable for="Tech">Tecnologia\s que utilize:</lable>
            <br>
            <input type="checkbox" name="Tecnologia" value="1">HTML
            <br>
            <input type="checkbox" name="Tecnologia" value="2">CSS
            <br>
            <input type="checkbox" name="Tecnologia" value="3">JavaScript
        
            <br><br>
            <label for="Navegador">Navegador: </label>
            <select>
                <option>Chrome</option>
                <option>Opera</option>
                <option>Safari</option>
                <option>Firefox</option>
                <option>Edge</option>
            </select>
            <br>
            <br>
            <fieldset>
                <legend>Datos Personales</legend>
                <label for="telInput">
                    
                    Telefono:
                    <br>
                    <input type="tel" id="Telefono" name="Telefono">
                </label>
                    <br>
                <label for="fileInput">
                    Subir Archivo:
                    <br>
                    <input type="file" id="Archivo" name="Archivo">
                </label>
                    <br>
                <label for="coments">
                    Comentarios: 
                    <br>
                    <textarea name="Comentario" id="Comentario">Escriba su comentario.....</textarea>
                </label>
            </fieldset>
        </form> 
    </section>
</main>
</body>
</html>