<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<main>
    <li> <a href="index.html">    Inicio </a></li>
</main>
<body>
    <p><strong>Nombre:</strong> Fractal</p>
    <img src="5035571.jpg" alt="Fractal" width="500">
    <p><strong>Nombre:</strong> Agua</p>
    <img src="pexels-enginakyurt-1435752.jpg" alt="Agua" width="500">
    <p><strong>Nombre:</strong> Madera</p>
    <img src="photos_2023_7_4_fst_wood-cracked-aged-material.jpg" alt="Madera" width="500">
</body>
</html>