<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../img/shreck.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Enlaces</h4>
    <nav>
        <ul>
            <li> <a href="./index.html">      Indice   </a></li>
            <li> <a href="./formulario.html">      formulario   </a></li>
            <li> <a href="./tabla.html">      Tabla   </a></li>
            <li> <a href="./galeria.html">    Galeria </a></li>
            <li> <a href="https://www.google.com">      Google   </a></li>
        </ul>
    </nav>
    <section id="Desordenada" style="background-color: rgb(57, 93, 159);">
        <h3>Lista Desordenada</h3>
        <ul>
            <li>UNL</li>
            <li>UTN</li>
            <li>UNP</li>
            <li>UNF</li>
        </ul>
    </section>
    <section id="Ordenada" style="background-color: rgb(45, 137, 80);">
        <h3>Lista Ordenada</h3>
        <ol>
            <li>Uno</li>
            <li>Dos</li>
            <li>Tres</li>
            <li>Cuatro</li>
        </ol>
    </section>
    <section id="Definición" style="background-color: rgb(134, 40, 121);">
        <h3>Lista Definición</h3>
        <dl>
            <dt>Palta</dt>
            <dd>Fruta</dd>
            <dd>Verde</dd>
            <dt>Luna</dt>
            <dd>Hierro</dd>
            <dd>Magnesio</dd>
            <dd>Oxígeno</dd>
            <dd>Silicio</dd>
            <dd>Aluminio</dd>
            <dd>Calcio</dd>
            <dd>Titanio</dd>
            <dd>Cromo</dd>
            <dd>Manganeso</dd>

        </dl>
    </section>
    <section id="Dependiente" style="background-color: cornflowerblue;">
        <h3>Lista Dependiente</h3>
        <ul>
            <li>Animales</li>
            <ul>
                <li>Cordados</li>
                <ul>
                    <li>Mamiferos</li>
                    <ul>
                        <li>Carnívoros</li>
                        <li>Primates</li>
                    </ul>
                </ul>
                <li>Artrópodos</li>
                <ul>
                    <li>Insectos</li>
                    <ul>
                        <li>Dípteros</li>
                    </ul>
                </ul>
            </ul>
        </ul>
    </section>
</body>
</html>