<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../img/stock.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>Enlaces</h4>
    <nav>
        <ul>
            <li> <a href="./index.html">      Indice   </a></li>
            <li> <a href="./formulario.html">      formulario   </a></li>
            <li> <a href="./galeria.html">    Galeria </a></li>
            <li> <a href="./lista.html">    Listas </a></li>
            <li> <a href="https://www.google.com">      Google   </a></li>
        </ul>
    </nav>
<main>
    <section id="part_1">
        <section id="audio">
            <audio controls autoplay>
                <source src="../assets/Smell_of_the_Game.mp3" type="audio/mp3">
            </audio>
        </section>
        <section id="video_1">
            <video  controls>
                <source src="../assets/Find_Your_One_Way.mp4" type="video/mp4">
            </video>
        </section>
    </section>
    <section id="parte_2">
        <section id="mapa">
            <img src="../img/mapa.png" alt="mapa" width="800" height="500">
        </section>
        <section id="viedo_2">
            <video  controls>
                <source src="../assets/Outer_Wilds.mp4" type="video/mp4">
            </video>
        </section>
    </section>
    <section id="parte_3">
        <table>
            <tr>
                <th>Numeros</th>
            </tr>
            <tr>
                <td>
                    71
                </td>
                <td>
                    54
                </td>
            </tr>
            <tr>
                <td>
                    100
                </td>
                <td>
                    78
                </td>
            </tr>
            <tr>
                <td>
                    85
                </td>
                <td>
                    71
                </td>
            </tr>
            <tr>
                <td>
                    56
                </td>
                <td>
                    489
                </td>
            </tr>
            <tr>
                <td>
                    54
                </td>
                <td>
                    100
                </td>
            </tr>
            <tr>
                <td>
                    78
                </td>
                <td>
                    85
                </td>
            </tr>
        </table>
    </section>
</main>  
</body>

</html>